body {
  height: 100%;
  width: 100%;
  margin:0;
}

a {
  color: black;
}

p {
  border:0;
  padding: 0;
  margin:0;
}

h1{
  font-weight: bold;
  font-size: 40px;
  color: white;
  height: 245px;
}

h2{
  font-size: 20px;
  font-weight: bold;
}

header {
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: MediumAquamarine;
  margin: auto;
  padding: 100px;
  font-family: Verdana;
  font-size: 12px;
  flex-direction: column;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin-left: 15px;
  flex-grow: 1;
}

.logo img{
  margin-right: 10px;
}


header nav {
  padding-right: 40px;
}

nav span {
  padding: 20px 10px;
}

.column {
  font-family: Georgia;
  display: flex;
  padding-top: 116px;
  padding-bottom: 80px;
  justify-content: space-between;
}

.large {
  display: flex;
  width: 630px;
  flex-direction: column;
  margin-right: 32px;
}

.medium {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin-right: 16px;

}

.small {
  display: flex;
  width: 240px;
  flex-direction: column;
}

.mainstory{
  display: block;
  margin-top: 0px;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top:10px;
  padding-bottom: 30px;
  height: 450px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 250px;
}

.storytext {
  font-size: 16px;
  color: black;
  display: block;
  margin: 10px;
}

div .imageBackground {
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 225px;
}

.phish {
  background-image: url("../images/img-story-main.png");
  height: 300px;
}

.earth {
  background-image: url("../images/img-story-2.png");
  margin: 50px 0px;
  height: 500px;
}

.cameras {
  background-image: url("../images/img-story-3.png");
  margin: 50px 0px;
  height: 500px;
}

.cats {
  background-image: url("../images/img-story-1.png");
}

.small h2 {
  font-size: 16px;
  font-weight: bold;
  padding: 25px;
  text-align: center;
}

.medium div {
  padding-top: 30px;
  padding-bottom:30px;
}

.medium .cats p {
  text-align: center;
}


.links {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.links p {
  padding: 15px;
  margin:0;
  border-bottom: 1px solid black;
}

footer .mytimes {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 1px solid white;
}

footer div {
  padding:15px;
}

footer span {
  padding: 15px;
}
